name: AL-Go CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: AL-Go Build
        uses: microsoft/AL-Go-Actions/DevOps-Build@v4
        with:
          projects: '.'
        env:
          Secrets: ${{ secrets.OPENAI_API_KEY }}
